/* pokemonCard.css */

.pokemon-card {
    width: calc(18% - 20px);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    margin: 0 10px 20px;
    padding: 20px 10px;
    background-color: #333;
    border: 1px #757575 solid;
}

.normal{
    background: linear-gradient(to top, #A8A77A, #a8a77a6e, #333);
}

.feu{
    background: linear-gradient(to top, #EE8130, #ee81306e, #333);
}

.eau{
    background: linear-gradient(to top, #6390F0, #6390F06e, #333);
}

.electrik{
    background: linear-gradient(to top, #F7D02C, #F7D02C6e, #333);
}

.plante{
    background: linear-gradient(to top, #7AC74C, #7AC74C6e, #333);
}

.glace{
    background: linear-gradient(to top, #96d9d6, #96d9d66e, #333);
}

.combat{
    background: linear-gradient(to top, #c22e28, #c22e286e, #333);
}

.poison{
    background: linear-gradient(to top, #a33ea1, #a33ea16e, #333);
}

.sol{
    background: linear-gradient(to top, #e2bf65, #e2bf656e, #333);
}

.vol{
    background: linear-gradient(to top, #a98ff3, #a98ff36e, #333);
}

.psy{
    background: linear-gradient(to top, #f95587, #f955876e, #333);
}

.insecte{
    background: linear-gradient(to top, #a6b91a, #a6b91a6e, #333);
}

.roche{
    background: linear-gradient(to top, #b6a136, #b6a1366e, #333);
}

.spectre{
    background: linear-gradient(to top, #735797, #7357976e, #333);
}

.dragon{
    background: linear-gradient(to top, #6f35fc, #6f35fc6e, #333);
}

.tenebre{
    background: linear-gradient(to top, #705764, #7057646e, #333);
}

.acier{
    background: linear-gradient(to top, #b7b7ce, #b7b7ce6e, #333);
}

.fee{
    background: linear-gradient(to top, #d685ad, #d685ad6e, #333);
}

.pokemon-card.capture-level-1 {
    background-color: #b0b0b0;
}

.pokemon-card.capture-level-2 {
    background-color: #909090;
}

.pokemon-card:hover {
    transform: translateY(-5px);
}

.pokemon-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.pokemon-card .details {
    padding: 10px;
}

.pokemon-card h2 {
    margin: 0;
    color: #eee;
    font-size: 1.2rem;
    font-family: 'PokemonFont', sans-serif;
}

.pokemon-card p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.types {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.type {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}