/* pokemonCard.css */

.pokemon-card {
    position: relative;
    width: calc(18% - 20px);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    margin: 0 10px 20px;
    padding: 20px 10px;
    border: 1px #757575 solid;
}

.normal {
    background: radial-gradient(80% 80% at 50% bottom, #A8A77A, #060e2080);
}

.feu {
    background: radial-gradient(80% 80% at 50% bottom, #EE8130, #060e2080);
}

.eau {
    background: radial-gradient(80% 80% at 50% bottom, #6390F0, #060e2080);
}

.electrik {
    background: radial-gradient(80% 80% at 50% bottom, #F7D02C, #060e2080);
}

.plante {
    background: radial-gradient(80% 80% at 50% bottom, #7AC74C, #060e2080);
}

.glace {
    background: radial-gradient(80% 80% at 50% bottom, #96d9d6, #060e2080);
}

.combat {
    background: radial-gradient(80% 80% at 50% bottom, #c22e28, #060e2080);
}

.poison {
    background: radial-gradient(80% 80% at 50% bottom, #a33ea1, #060e2080);
}

.sol {
    background: radial-gradient(80% 80% at 50% bottom, #e2bf65, #060e2080);
}

.vol {
    background: radial-gradient(80% 80% at 50% bottom, #a98ff3, #060e2080);
}

.psy {
    background: radial-gradient(80% 80% at 50% bottom, #f95587, #060e2080);
}

.insecte {
    background: radial-gradient(80% 80% at 50% bottom, #a6b91a, #060e2080);
}

.roche {
    background: radial-gradient(80% 80% at 50% bottom, #b6a136, #060e2080);
}

.spectre {
    background: radial-gradient(80% 80% at 50% bottom, #735797, #060e2080);
}

.dragon {
    background: radial-gradient(80% 80% at 50% bottom, #6f35fc, #060e2080);
}

.tenebre {
    background: radial-gradient(80% 80% at 50% bottom, #705764, #060e2080);
}

.acier {
    background: radial-gradient(80% 80% at 50% bottom, #b7b7ce, #060e2080);
}

.fee {
    background: radial-gradient(80% 80% at 50% bottom, #d685ad, #060e2080);
}

.catch {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pokemon-card .capture-level-0 {
    background-image: url('../../../public/assets/svg/pokeball.svg');
}

.pokemon-card .capture-level-1 {
    background-image: url('../../../public/assets/svg/pokeball-1.svg');
}

.pokemon-card .capture-level-2 {
    background-image: url('../../../public/assets/svg/pokeball-2.svg');
}

.pokemon-card:hover {
    transform: translateY(-5px);
}

.pokemon-card img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.pokemon-card .details {
    position: relative;
    padding: 10px;
    z-index: 1;
}

.pokemon-card h2 {
    margin: 0;
    color: #eee;
    font-size: 1.2rem;
    font-family: 'PokemonFont', sans-serif;
}

.pokemon-card p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.types {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.type {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}