body {
  color: #fff; /* Couleur du texte en clair */
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  color: #fff; /* Couleur du texte en blanc */
  margin-left: 10px; /* Marge à gauche pour l'équilibre visuel */
}


.pokedex {
  width: 100%; /* Utilise toute la largeur de la page */
  max-width: 100vw; /* Limite la largeur au maximum de la fenêtre */
  margin: 0;
  padding: 20px 0; /* Ajustement du padding pour ne pas déborder */
  text-align: center;
  background-color: #333; /* Fond sombre */
}

.pagination {
  margin-bottom: 20px;
}

.pagination button {
  background-color: #3f51b5; /* Nouvelle couleur de fond */
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #f50057; /* Nouvelle couleur de fond pour le bouton actif */
}


.pokemon-list {
  display: flex; /* Utilisation de Flexbox */
  flex-wrap: wrap; /* Retour à la ligne automatique */
  justify-content: center; /* Centrage horizontal */
  padding: 10px 0; /* Ajoute un espace autour des cartes */
}

.pokemon-card {
  width: calc(20% - 20px); /* Calcul de la largeur en fonction de 5 cartes par ligne avec un espacement de 20px entre les cartes */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease; /* Transition pour un changement de couleur de fond en douceur */
  margin: 0 10px 20px; /* Espacement entre les cartes et en bas */
  background-color: #fff; /* Fond blanc pour les cartes */
}

.pokemon-card.capture-level-1 {
  background-color: #b0b0b0; /* Nouvelle couleur de fond lorsque le Pokémon est capturé mais pas dans la forme souhaitée */
}

.pokemon-card.capture-level-2 {
  background-color: #909090; /* Nouvelle couleur de fond lorsque le Pokémon est capturé et dans la forme souhaitée */
}

.pokemon-card:hover {
  transform: translateY(-5px);
}

.pokemon-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}

.pokemon-card .details {
  padding: 10px;
}

.pokemon-card h2 {
  margin: 0;
  color: #333;
  font-size: 1.2rem;
  font-family: 'PokemonFont', sans-serif; /* Utilisation de la police Pokemon */
}

.pokemon-card h3 {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
  font-family: 'PokemonFont', sans-serif; /* Utilisation de la police Pokemon */
}

.pokemon-card p {
  margin: 5px 0;
  font-size: 0.9rem;
}
