body {
  color: #fff; /* Couleur du texte en clair */
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  color: #fff; /* Couleur du texte en blanc */
  margin-left: 10px; /* Marge à gauche pour l'équilibre visuel */
}


.pokedex {
  width: 100%; /* Utilise toute la largeur de la page */
  max-width: 100vw; /* Limite la largeur au maximum de la fenêtre */
  margin: 0;
  padding: 20px 0; /* Ajustement du padding pour ne pas déborder */
  text-align: center;
}

.pagination {
  margin-bottom: 20px;
}

.pagination button {
  background-color: #3f51b5; /* Nouvelle couleur de fond */
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #f50057; /* Nouvelle couleur de fond pour le bouton actif */
}


.pokemon-list {
  display: flex; /* Utilisation de Flexbox */
  flex-wrap: wrap; /* Retour à la ligne automatique */
  justify-content: center; /* Centrage horizontal */
  padding: 10px 0; /* Ajoute un espace autour des cartes */
}