.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header #title{
    width: 33%;
}
.header #searchBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;
}