@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body,
#root {
  min-height: 100vh !important;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #060e20;
    color: #fff;
}

.App{
    min-height: 100% !important;
}

button.top {
  position: fixed;
  bottom: 1rem;
  left: 3rem;
  width: 140px;
  height: 35px;
  border: none;
  border-radius: 8px;
  padding-bottom: 2em;
  color: #fff;
  background: #060e2081;
  background: #ff00008f;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

button.top>div,
button.top>svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

button.top:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

button.top:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button.top .clone>*,
button.top .text>* {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

button.top .clone>* {
  transform: translateY(60px);
}

button.top:hover .clone>* {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.top:hover .text>* {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.top:hover .clone> :nth-child(1) {
  transition-delay: 0.15s;
}

button.top:hover .clone> :nth-child(2) {
  transition-delay: 0.2s;
}

button.top:hover .clone> :nth-child(3) {
  transition-delay: 0.25s;
}

button.top:hover .clone> :nth-child(4) {
  transition-delay: 0.3s;
}

/* icon style and hover */
button.top svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

button.top:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.logoutButton {
  margin-top: 10px;
  background: #ff4c4c; /* Red background for logout button */
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logoutButton:hover {
  background: #ff6666; /* Lighter red on hover */
}
